<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="">BIO-VERDURA </a>

    <div class="row">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/bioverdura/cliente" data-parent="#Accordion">
            <span class="nav-link-text">Cliente </span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/bioverdura/factura" data-parent="#Accordion">
            <span class="nav-link-text">Factura </span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/bioverdura/pedido" data-parent="#Accordion">
            <span class="nav-link-text">Pedido </span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/bioverdura/producto" data-parent="#Accordion">
            <span class="nav-link-text">Producto </span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/bioverdura/proveedor" data-parent="#Accordion">
            <span class="nav-link-text">Proveedor </span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/bioverdura/repartidor" data-parent="#Accordion">
            <span class="nav-link-text">Repartidor </span>
        </a>
    </div>
</nav>


