<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <% include ../partials/layout-header %>
</head>

<body class="fixed-nev sticky-footer bg-dark" id="page-top">
<% include ../partials/layout-navbar %>
<div class="content-wrapper">

    <div class="jumbotron">
        <img src="/Images/Verduras.jpg" align="right" width=250px height=250px margin=5px>
        <h1 class="display-4" align="center">
            Pedido
        </h1>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#EstadisticaCollapse" data-parent="#RepoCollapse">
            <span class="nav-link-text">Crear</span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#EstadisticaCollapse" data-parent="#RepoCollapse">
            <span class="nav-link-text">Modificar</span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#EstadisticaCollapse" data-parent="#RepoCollapse">
            <span class="nav-link-text">Listar</span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#EstadisticaCollapse" data-parent="#RepoCollapse">
            <span class="nav-link-text">Borrar</span>
        </a>
    </div>
</div>
<% include ../partials/layout-footer %>
</body>

</html>
