<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <% include ../partials/layout-header %>
</head>

<body class="fixed-nev sticky-footer bg-dark" id="page-top">
<% include ../partials/layout-navbar %>
<div class="content-wrapper">

    <div class="jumbotron">
        <img src="/Images/Verduras.jpg" align="right" width=250px height=250px margin=5px>
        <h1 class="display-4" align="center">
            BIO-VERDURA
        </h1>

        <p class="lead"> parrafo 1</p>
        <p class="lead"> parrafo 2</p>
        <p class="lead"> parrafo 1</p>
        <p class="lead"> parrafo 2</p>
        <p class="lead"> parrafo 1</p>
        <p class="lead"> parrafo 2</p>
    </div>

</div>
<% include ../partials/layout-footer %>
</body>

</html>
