<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <% include ../partials/layout-header %>
</head>
<body>
<div class="container">
    <div class="card text-center mt-5">
        <div class="card-body">
            <h1><span class="fa fa-block"></span>BIO-VERDURA</h1>
            <p></p>
            <a href="login" class="btn btn-light">
                <span class="fa fa-user"></span> Ingresar
            </a>
            <a href="signup" class="btn btn-light">
                <span class="fa fa-user"></span> Registrarse
            </a>
        </div>
    </div>
</div>

</body>
</html>
